@font-face {
    font-family: "md";
    src: url("./md.eot.txt?9e6eb584dd4764ceeeb283ff07bfb2ba?#iefix") format("embedded-opentype"),
url("./md.woff2.txt?9e6eb584dd4764ceeeb283ff07bfb2ba") format("woff2"),
url("./md.woff.txt?9e6eb584dd4764ceeeb283ff07bfb2ba") format("woff"),
url("./md.ttf.txt?9e6eb584dd4764ceeeb283ff07bfb2ba") format("truetype"),
url("./md.svg.txt?9e6eb584dd4764ceeeb283ff07bfb2ba#md") format("svg");
}

*[class^="md-"]:before, *[class*=" md-"]:before {
    font-family: md !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.md-arrowall:before {
    content: "\f101";
}
.md-blank:before {
    content: "\f102";
}
.md-briefcase:before {
    content: "\f103";
}
.md-bullet-list:before {
    content: "\f104";
}
.md-bus:before {
    content: "\f105";
}
.md-chevron-down:before {
    content: "\f106";
}
.md-chevron-left:before {
    content: "\f107";
}
.md-chevron-right:before {
    content: "\f108";
}
.md-chevron-up:before {
    content: "\f109";
}
.md-code-tags:before {
    content: "\f10a";
}
.md-dashboard:before {
    content: "\f10b";
}
.md-delete:before {
    content: "\f10c";
}
.md-document:before {
    content: "\f10d";
}
.md-domain:before {
    content: "\f10e";
}
.md-drag-indicator:before {
    content: "\f10f";
}
.md-exit:before {
    content: "\f110";
}
.md-eye:before {
    content: "\f111";
}
.md-facebook:before {
    content: "\f112";
}
.md-fax:before {
    content: "\f113";
}
.md-filedocument:before {
    content: "\f114";
}
.md-filter:before {
    content: "\f115";
}
.md-gift:before {
    content: "\f116";
}
.md-google:before {
    content: "\f117";
}
.md-group:before {
    content: "\f118";
}
.md-heart:before {
    content: "\f119";
}
.md-help:before {
    content: "\f11a";
}
.md-home:before {
    content: "\f11b";
}
.md-html5:before {
    content: "\f11c";
}
.md-image:before {
    content: "\f11d";
}
.md-instagram:before {
    content: "\f11e";
}
.md-key:before {
    content: "\f11f";
}
.md-linkvariant:before {
    content: "\f120";
}
.md-location:before {
    content: "\f121";
}
.md-mail:before {
    content: "\f122";
}
.md-menu-down:before {
    content: "\f123";
}
.md-menu-left:before {
    content: "\f124";
}
.md-menu-right:before {
    content: "\f125";
}
.md-menu-up:before {
    content: "\f126";
}
.md-menu:before {
    content: "\f127";
}
.md-message:before {
    content: "\f128";
}
.md-number-list:before {
    content: "\f129";
}
.md-openinnew:before {
    content: "\f12a";
}
.md-pencil:before {
    content: "\f12b";
}
.md-person:before {
    content: "\f12c";
}
.md-phone:before {
    content: "\f12d";
}
.md-plus:before {
    content: "\f12e";
}
.md-robot:before {
    content: "\f12f";
}
.md-save:before {
    content: "\f130";
}
.md-search:before {
    content: "\f131";
}
.md-send:before {
    content: "\f132";
}
.md-settings:before {
    content: "\f133";
}
.md-twitter:before {
    content: "\f134";
}
.md-web:before {
    content: "\f135";
}
.md-youtube:before {
    content: "\f136";
}
